/*! purgecss start ignore */
@tailwind base;
/*! purgecss end ignore */

@import 'base/all';

@tailwind components;

@import 'components/all';

@tailwind utilities;

// Load Patrick Hand manually here without fontsource as to ensure no Flash of Unstyled Text
@font-face {
    font-family: "Patrick Hand";
    font-style: normal;
    font-display: block;
    src: local("Patrick Hand"), url("/assets/fonts/patrick-hand-latin-400-normal.woff2") format("woff2");
  }

.handwriting {
    font-family:"Patrick Hand";
}

.flip-list-move {
    transition: transform .5s;
  }

p {
    @apply pb-4
}