---
layout: default
title: About
---

<div class="h-fit flex flex-col items-center justify-center text-2xl">
    <p class="mt-20">Everyday Concepts are an ongoing effort to unpack and explore useful concepts, ideas, and mental models that crop up (or ought to) in our lives.</p>
    <p class="mt-20">I am currently developing a book projects of these concepts that further explore how to visualize them and their relevance to everyday life.</p>
    <p class="mt-20">Defined, sketched, and produced by <a href="https://gabrielkrieshok.com/">Gabriel Krieshok</a>.</p>
    <p><a href="https://www.buymeacoffee.com/gabrielkrieshok" target="_blank">Buy me a coffee ☕️</a> to help support this project.</p>
</div>