<footer class="mt-20 px-10 py-8 bg-slate-200">
    <div class="max-w-5xl mx-auto text-slate-700 text-center">
        © 2024 <a href="{{ '/' | url }}" class="font-medium" target="_blank" rel="noopener">{{ site.title }}</a>. 
        Made by <a href="https://gabrielkrieshok.com/" class="font-medium" target="_blank" rel="noopener">Gabriel Krieshok.</a> 
    </div>
</footer>