{% for post in airtableData %}
<a href="{{ post.Simple | url }}">
    <div class="w-full sm:w-1/2 md:w-1/3 self-stretch p-2 mb-2 block">
        <div class="rounded shadow-md h-full">
            {% image post.Sketch[0].url, post.Name, "(min-width: 30em) 50vw, 100vw" %}
            <div class="px-6 py-5">
                <div class="font-semibold text-lg mb-2">
                    <a class="text-slate-900 hover:text-slate-700" href="{{ post.Simple | url }}">{{ post.Name }}</a>
                </div>
                <p class="text-slate-800">
                    {{ post.Definition }}
                </p>
            </div>
        </div>
    </div>
</a>
{% endfor %}